@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.chevron {
    display: inline-block;
    z-index: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
  }
  
  .chevron.rotate {
    transform: rotate(135deg);
  }

  *{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}